/* create.css */

.input-category {
  background-color: var(--leo-bright-white);
}

.input-point {
  background-color: var(--leo-bright-white);
}

#stubhead-label {
  background-color: var(--leo-bright-white);
  color: var(--leo-raisin-black);
  border: solid 2px var(--leo-raisin-black);
}

#div-container-create-table {
  max-width: 90%;
  max-height: 90%;
  padding: 20px;
}

#div-container-create-table .col {
  border: inset;
  display: flex;
  padding: 0;
}

#div-container-create-table .col * {
  flex: 1;
  text-align: center;
}

#create-div {
  text-align: center;
}

#table-title {
  width: 40%;
  text-align: center;
}

#table-title {
  background-color: var(--leo-bright-white);
}

#h1-create-table {
  color: var(--leo-indian-red);
}

#table-description {
  text-align: justify;
  margin-top: 20px;
  background-color: var(--leo-raisin-black);
  color: var(--leo-bright-white);
  resize: none;
}

#textarea-container {
  position: relative;
  width: 40%;
}

.corner-box {
  position: absolute;
  bottom: 4px;
  right: 4px;
  color: #ffffff;
  padding: 2px 2px;
  border-radius: 4px;
  font-size: 0.875rem;
  display: flex;
}

